doctype html
html(lang='en')
    head
        script(src="http://code.jquery.com/jquery.min.js")
        base(href='/mtgdeckbuilder/')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/skeleton.css')
        link(rel='stylesheet', href='/css/custom.css')
        
    body
        div.container
            h1 Magic Deckbuilder
            include navbar
        
        div#content
            div.container
                block content
                
    // jQuery
    //script(src="http://code.jquery.com/jquery.min.js")
    // script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
